/* CSS for XMCQSXBlock */

.xmcqs_block{
    padding: 10px;
}
#submit{
    width:150px;
    height:40px;
    margin-top: 10px;
    font-size: 18px;
}
#choices > div{
    border: 1px solid #eeeeff;
}
#choices label {
    cursor: pointer;
    display: block;
    padding: 15px;
}
#choices label:hover{
    background-color: #EFEFEF;
}
#progress{
    font-size: 12px;
}
