/* CSS for XMCQSXBlock */

.xmcqs_block .count {
    font-weight: bold;
}

.xmcqs_block p {
    cursor: pointer;
}

.xmcqs_block{
    border: 1px solid #eeeeff;
    width: 500px;
    padding: 10px;
}
#submit{
    width:150px;height:30px;
    margin-top: 10px;
}
#progress{
    font-size: 12px;
}
#hint{
    display: none;
}
